body{
    padding-top: 50px;
}

#address{
    text-align: center;
}
#address-1{
    line-height: 5px
}
#googleMap{
    height: 400px;
    width: 500px;

}

.addressadjust{
    margin-bottom: 0px;

}

#bizname{
    color: crimson;
}
.below-flex{
    color: crimson;
}
#categoryname{

    font-family: inherit;
    color: inherit;
    opacity: 0.7;
    /*background-color: whitesmoke;*/
}
.glyph {
    font-size: x-large;
}
#home {
    max-width:1500px;
}

header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url("../images/restaurant3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-lead-in {
    color: 	#5C1205;
    font-size: xx-large;
    font-stretch: extra-expanded;
    font-style: normal;
    margin-top: 40px;
    font-family: cursive;
}

header .intro-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 22px;
    color: chocolate;
}

.form-control.input-xlg.homeinput{
    background-color: black;
    opacity: 0.5;
}

header .container{
    padding-bottom: 40px;
}
.well {
    padding-bottom: 10px;
    padding-right: 10px;
    padding-top: 10px;
    padding-left: 10px;
    margin-bottom: 10px;
}

@media(min-width:768px) {

    header .intro-lead-in {
        color: 	#5C1205;
        font-size: xx-large;
        font-stretch: extra-expanded;
        font-style: normal;
        margin-top: 80px;
        font-family: cursive;
    }

    header .intro-text {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 30px;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 75px;
        font-style: normal;
        line-height: 40px;
        font-weight: 400;
        color: darkgoldenrod;
    }

    header .container{
        padding-bottom: 100px;
    }

    .side{
        padding-left: 100px;
        padding-right: 100px;
    }
    .map{
        padding-bottom: 100px;}
    /*.well{*/
    /*background-color: lightskyblue !important;*/
}

@media (max-width: 768px) {
    .example{
        padding-right: 80px;
        padding-left: 5px;
    }
    .well {
        padding-bottom: 0px;
        padding-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
        margin-bottom: 10px;
    }
    .below-flex {
        padding-left: 10px;

    }
    .bold{
        padding-left: 10px;
    }
}
.extend{
    overflow: scroll;
    height: 200px;
}
.extendmore{
    overflow: scroll;
    height: 600px;
}
.extendmore-1{
    overflow: scroll;
    height: 500px;
}
.fade{
    -webkit-animation: fadein 1s;
}
#gly{
    font-size: x-large
}

#left-tri {
    position:fixed;
    margin-top: 25px
}
@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#list-view {
    margin-top: 25px
}
#bizimage{
    width:100%;
    height:250px;
}

@media(min-width:768px) {
    #bizimage{
        width:100%;
        height:560px;
    }
}

/*.middle{*/
/*padding-left: 320px;*/
/*}*/

#yml {
    color: mediumblue;
}
#fbi{
    color:crimson

}
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: 100px;
    text-align: center;
}
.red {
    color: crimson;
}
.bold {
    font-weight: bold;
    opacity: 0.7;

}
/*.oddtile{*/
/*background-color: lightgray !important;;*/
/*}*/

/*.eventile{*/
/*background-color: lightgoldenrodyellow !important;;*/
/*}*/
/*lightgray*/
/*lightgoldenrodyellow*/