body{
    padding-top: 50px;
}

#address{
    text-align: center;
}

#googleMap{
    height: 400px;
    width: 500px;

}

#bizname{
    color: crimson;
}

#categoryname{
    font-style: oblique;
    font-family: inherit;
    color: inherit;
    opacity: 0.8;
    /*background-color: whitesmoke;*/
}



header {
    text-align: center;
    color: #fff;
    background-attachment: scroll;
    background-image: url("../images/restaurant3.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

header .intro-lead-in {
    color: 	#5C1205;
    font-size: xx-large;
    font-stretch: extra-expanded;
    font-style: normal;
    margin-top: 40px;
    font-family: cursive;
}

header .intro-text {
    padding-top: 30px;
    padding-bottom: 50px;
}

header .intro-text .intro-lead-in {
    margin-bottom: 25px;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 40px;
    font-style: normal;
    line-height: 22px;
    color: chocolate;
}

.form-control.input-xlg.homeinput{
    background-color: black;
    opacity: 0.5;
}

header .container{
    padding-bottom: 40px;
}

@media(min-width:768px) {

    header .intro-lead-in {
        color: 	#5C1205;
        font-size: xx-large;
        font-stretch: extra-expanded;
        font-style: normal;
        margin-top: 80px;
        font-family: cursive;
    }

    header .intro-text {
        padding-top: 80px;
        padding-bottom: 90px;
    }
    header .intro-text .intro-lead-in {
        margin-bottom: 30px;
        font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-size: 75px;
        font-style: normal;
        line-height: 40px;
        font-weight: 400;
        color: darkgoldenrod;
    }

    header .container{
        padding-bottom: 100px;
    }

    .side{
        padding-left: 100px;
        padding-right: 100px;
    }
    .map{
        padding-bottom: 100px;}
    /*.well{*/
        /*background-color: lightskyblue !important;*/
}

.extend{
    overflow: scroll;
    height: 200px;
}
.extendmore{
    overflow: scroll;
    height: 600px;
}
.fade{
    -webkit-animation: fadein 1s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

#bizimage{
    width:100%;
    height:250px;
}

@media(min-width:768px) {
    #bizimage{
        width:100%;
        height:560px;
    }
}

/*.oddtile{*/
    /*background-color: burlywood !important;;*/
/*}*/

/*.eventile{*/
    /*background-color: palegoldenrod !important;;*/
/*}*/