<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="HeaderController as model">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#/bizsearch">
                <p>NearBy</p>
            </a>
        </div>

        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li ng-hide="currentUser"
                    ng-class="{'active': $location.url() == '/register'}">
                    <a href="#/register" data-toggle="collapse" data-target=".navbar-collapse.in">Register</a></li>
                <li ng-hide="currentUser"
                    ng-class="{'active': $location.url() == '/login'}">
                    <a href="#/login" data-toggle="collapse" data-target=".navbar-collapse.in">Login</a></li>

                <li ng-show="currentUser.role == 'admin'"
                    ng-class="{'active': $location.url() == '/admin'}">
                    <a href="#/admin" data-toggle="collapse" data-target=".navbar-collapse.in">Manage</a></li>

                <li ng-show="currentUser"
                    ng-class="{'active': $location.url() == '/profile'}">
                    <a href="#/activity" data-toggle="collapse"
                       data-target=".navbar-collapse.in">{{currentUser.username}}</a></li>
                <li ng-show="currentUser"
                    ng-class="{'active': $location.url() == '/profile'}">
                    <a href="#/profile" data-toggle="collapse"
                       data-target=".navbar-collapse.in">Profile</a></li>
                <li ng-show="currentUser" ng-click="model.logout()">
                    <a data-toggle="collapse" data-target=".navbar-collapse.in">Logout</a></li>
            </ul>
        </div>
    </div>
</nav>