<div class="container-fluid example">
<h1 class="example">Favourites</h1>
<div class="row">
    <div class="container col-xs-12 col-sm-6 " >
        <div class="container-fluid" ng-repeat="place in model.user.likes" >
            <div class="well">
            <a ng-click="model.findBizById(place.id)">
                <h3 class="below-flex">{{place.name}}</h3>
                <p class="bold">{{place.category}}</p></a>

            </div>
        </div>

    </div>
    <div class="hidden-xs col-sm-6">

    </div>

</div>
</div>