<div class="container example">
    <h2 class="page-header">Users</h2>
    <div class="table-responsive">
        <table class="table table-striped table-hover">
            <tbody>
            <tr ng-repeat="user in model.users">
                <td><a ng-click="model.findUserById(user._id)">{{user.username}}</a></td>
                <td>
                    <a class="btn btn-success" ng-click="model.setToAdmin(user)" ng-show="user.role == 'user'">Enable Admin</a>
                </td>
                <td class="nowrap">
                    <button ng-click="model.removeUser(user._id)"
                            class="btn btn-danger pull-right">
                        <span class="glyphicon glyphicon-remove"></span>
                    </button>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>