<div class="container-fluid">
    <div class="row">
        <div class="col-hidden-xs col-sm-4">

        </div>
        <div class="col-xs-12 col-sm-4">
            <div ng-show="model.friend.username" class="container-fluid center">
                <h1 class="middle">
                    {{model.friend.username}}
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 padding-1">
            <div class="middle">
                <a ng-hide="model.isFollowing || model.friend._id == model.currentUser._id" ng-click="model.follow()" class="btn btn-primary">Follow</a>
                <a ng-show="model.isFollowing" ng-click="model.unfollow()" class="btn btn-warning">Unfollow</a>
            </div>
        </div>

    </div>
    <div class="row example">
        <div class="col-xs-12 col-sm-4">
            <h5>&nbsp;</h5>
            <h3>Followers {{model.friend.followers.length}}</h3>
            <div class="extendmore-2">
                <table class="table">
                    <tbody ng-repeat="user in model.friend.followers">

                    <tr>
                        <td scope="row">{{user.username}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>
            </div>

            <div>
                <h3>Following {{model.friend.following.length}}</h3>
                <div class="extendmore-2">
                    <table class="table">
                        <tbody ng-repeat="user in model.friend.following">
                        <tr>
                            <td scope="row">{{user.username}}</td>
                            <td></td>
                            <td></td>
                            <td></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>

        </div>
        <div class="container-fluid col-xs-12 col-sm-4">
            <h6>&nbsp;</h6>

                <h6>&nbsp</h6>

                <div ng-show="model.friend.username">

                    <h4 >Username: {{model.friend.username}}</h4>
                </div>

                <div ng-show="model.friend.firstName">
                    <h4>Firstname: {{model.friend.firstName}}</h4>
                </div>

                <div ng-show="model.friend.lastName">
                    <h4>Lastname: {{model.friend.lastName}}</h4>
                </div>

                <div ng-show="model.friend.email">
                    <h4>Email: {{model.friend.email}}</h4>
                </div>

        </div>
        <!--<div class="col-xs-12 col-sm-4">-->
            <!--<p>&nbsp</p>-->
            <!--<div class="container-fluid">-->
                <!--<h2>Reviews Participated</h2>-->
                <!--<div class="extendmore-1">-->
                    <!--<div ng-repeat="review in model.reviews">-->
                        <!--<div class="well ">-->
                            <!--<a ng-click="model.findBizById(review.bizId)"><h4>{{review.bizname}}</h4></a>-->
                            <!--<h6>{{review.description}}</h6>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        <!--</div>-->
        <div class="col-xs-12 col-sm-4">
            <p>&nbsp</p>
            <div class="container-fluid">
                <h2>Favourite Locations</h2>
                <div class="extendmore-1">
                    <div ng-repeat="like in model.friend.likes">
                        <div class="well ">
                            <a ng-click="model.findBizById(like.id)"><h4>{{like.name}}</h4></a>
                            <h6>{{like.category}}</h6>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>



</div>


