<div class="container-fluid">
    <div class="row">
        <div class="col-hidden-xs col-sm-4">

        </div>
        <div class="col-xs-12 col-sm-4">
            <div ng-show="model.currentUser.username" class="container-fluid center">
                <h1 class="middle red yml-feed">
                    {{model.currentUser.username}}
                </h1>
            </div>
        </div>
        <div class="col-xs-12 col-sm-4 padding-1">
        </div>

    </div>
    <div class="row example">
        <div class="col-xs-12 col-sm-4">
            <h5>&nbsp;</h5>
            <div>
                <div ng-show="model.currentUser.following.length == 0">
                    <h3 class="red">Following</h3>
                    <div class="alert alert-info">
                        <p>You aren't following anyone yet</p>
                    </div>
                </div>
                <h3 class="red" ng-show="model.currentUser.following.length > 0">
                    <span>Following <p class="pull-right blue">{{model.currentUser.following.length}}</p>
                    </span>
                </h3>
                <div class="extendmore-2">
                    <table class="table">
                        <tbody ng-repeat="user in model.currentUser.following">
                        <tr>
                            <td scope="row">{{user.username}}</td>
                            <td></td>
                            <td></td>
                            <td>
                                <a ng-click="model.unfollow(user)" class="pull-right">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>


            <div ng-show="model.currentUser.followers.length == 0">
                <h3 class="red">Followers</h3>
                <div class="alert alert-info">
                    <p>You don't have any followers yet</p>
                </div>
            </div>
            <h3 class="red" ng-show="model.currentUser.followers.length > 0">
                    <span>Followers <p class="pull-right blue">{{model.currentUser.followers.length}}</p>
                    </span>
            </h3>
            <div class="extendmore-2">
                <table class="table">
                    <tbody ng-repeat="user in model.currentUser.followers">

                    <tr>
                        <td scope="row">{{user.username}}</td>
                        <td></td>
                        <td></td>
                        <td></td>
                    </tr>
                    </tbody>

                </table>
            </div>


        </div>
        <div class="col-sm-8 main w3-animate-opacity">
            <h2 class="page-header example yml-feed-bl">Profile</h2>

            <div ng-show="model.message" class="alert alert-success" role="alert">{{model.message}}</div>
            <div ng-show="model.error" class="alert alert-danger" role="alert">{{model.error}}</div>

            <div class="form-horizontal example">
                <div class="form-group">
                    <label for="username" class="col-sm-2 control-label">Username</label>
                    <div class="col-sm-10">
                        <input ng-model="model.currentUser.username" type="text"
                               class="form-control" id="username" placeholder="Username" readonly="readonly">
                    </div>
                </div>
                <div class="form-group">
                    <label for="firstName" class="col-sm-2 control-label">First Name</label>
                    <div class="col-sm-10">
                        <input ng-model="model.currentUser.firstName" type="text"
                               class="form-control" id="firstName" placeholder="First Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="lastName" class="col-sm-2 control-label">Last Name</label>
                    <div class="col-sm-10">
                        <input ng-model="model.currentUser.lastName" type="text"
                               class="form-control" id="lastName" placeholder="Last Name">
                    </div>
                </div>
                <div class="form-group">
                    <label for="email" class="col-sm-2 control-label">Email</label>
                    <div class="col-sm-10">
                        <input ng-model="model.currentUser.email" type="email"
                               class="form-control" id="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button ng-click="model.update(model.currentUser)"
                                class="btn btn-primary btn-block">Update</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>


