<div class="col-sm-8 col-sm-offset-2 col-md-7 col-md-offset-2 main">
    <h1 class="page-header">Register</h1>

    <div ng-show="model.message" class="alert alert-danger" role="alert">{{model.message}}</div>

    <div class="form-horizontal">
        <div class="form-group">
            <label for="username" class="col-sm-3 control-label">Username</label>
            <div class="col-sm-9 input-group">
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-user"></span>
                </span>
                <input ng-model="model.user.username" type="text"
                       class="form-control" id="username" placeholder="Username">
            </div>
        </div>
        <div class="form-group">
            <label for="password" class="col-sm-3 control-label">Password</label>
            <div class="col-sm-9 input-group">
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input ng-model="model.user.password" type="password"
                       class="form-control" id="password" placeholder="Password">
            </div>
        </div>
        <div class="form-group">
            <label for="password2" class="col-sm-3 control-label">Verify Password</label>
            <div class="col-sm-9 input-group">
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-lock"></span>
                </span>
                <input ng-model="model.user.password2" type="password"
                       class="form-control" id="password2" placeholder="Verify Password">
            </div>
        </div>
        <div class="form-group">
            <label for="inputEmail" class="col-sm-3 control-label">Email</label>
            <div class="col-sm-9 input-group">
                <span class="input-group-addon">
                     <span class="glyphicon glyphicon-envelope"></span>
                </span>
                <input ng-model="model.user.email" type="email"
                       class="form-control" id="inputEmail" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-offset-3 col-sm-9">
                <button ng-click="model.register()" class="btn btn-primary btn-block">Register</button>
            </div>
        </div>
    </div>
</div>