<div class="side">
    <flex-slider slide="image in model.biz.photos.groups[0].items track by image.id" animation="slide">
        <li>
            <img style="width:100%;height:560px;" ng-src="{{image.prefix}}500x500{{image.suffix}}"/>
            {{item.name}}
        </li>
    </flex-slider>


    <div class="row">

        <div class="container col-xs-12 col-sm-8">

            <h2 class="page-header">{{model.biz.name}}</h2>
            <div class="row ">
                <div class="col-xs-12 col-sm-8" ng-repeat="address in model.biz.location.formattedAddress">
                    <h4>{{address}}</h4>
                </div>


            </div>
        </div>

        <div class="container col-xs-12 col-sm-4">
            <h2 class="page-header">You might also like</h2>
            <div class="extend">
                <div  ng-repeat="biz in model.bizs">
                    <div class="media">
                        <div class="media-body">
                            <a ng-click="model.findBizById(biz.id)">
                            <h4 class="media-heading">{{biz.name| limitTo:25}}</h4>
                                <p>{{biz.location.formattedAddress[0]}},
                                    {{biz.location.formattedAddress[1]}}
                                    {{biz.location.formattedAddress[2]}}</p>

                            </a>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <!--<div>-->
        <!--<h4>-->
            <!--<span class="glyphicon glyphicon-book" aria-hidden="true"></span>&nbsp{{model.biz.description}}-->
        <!--</h4>-->
    <!--<a href="{{model.biz.canonicalUrl}}" target=_blank> <h3>More in Detail</h3> </a>-->
    <!--</div>-->
    <div class="row">

        <h1>
            Reviews
        </h1>
    </div>
    <div class="map">
        <ng-map center="[{{model.lat}},{{model.lng}}]">
             <marker position="[{{model.lat}},{{model.lng}}]"> </marker>
        </ng-map>
    </div>
</div>