<div class="container-fluid" id="left-tri">
    <a ng-click="model.goback()">
        <span class="glyphicon glyphicon-triangle-left" id="gly">
        </span>
    </a>
</div>

<div class="side w3-animate-opacity example" >
    <flex-slider slide="image in model.biz.photos.groups[0].items track by image.id" animation="slide">
        <li>
            <img id="bizimage" ng-src="{{image.prefix}}500x300{{image.suffix}}"/>
            {{item.name}}
        </li>
    </flex-slider>

    <div class="row">

        <div class="container col-xs-12 col-sm-8">

            <span ng-show="model.user._id">
                <h1 class="page-header below-flex">{{model.biz.name}}
                    <a ng-click="model.likePlace()" ng-hide="model.isLiked"><i class="fa fa-star-o pull-right" aria-hidden="true"></i></a>
                    <a ng-click="model.dislikePlace()" ng-show="model.isLiked"><i class="fa fa-star pull-right" aria-hidden="true"></i></a>
                </h1>
            </span>
            <span ng-hide="model.user._id">
                <h1 class="page-header below-flex">{{model.biz.name}}
                    <a ng-hide="model.isLiked" data-toggle="tooltip" data-placement="top" title="Log in to save your favourite places" ng-disabled="!user._id">
                    <i class="fa fa-star-o pull-right" aria-hidden="true"></i></a>
                </h1>
            </span>

            <div class="row">

                <div class="col-xs-12 col-sm-12">
                    <h4>{{model.biz.description}}</h4>
                </div>

                <div class="col-xs-12 col-sm-12" ng-show="model.biz.rating">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Rating: {{model.biz.rating}}/10</h2>
                    </div>
                    <div class="col-xs-12 col-sm-6">
                        <h2>{{model.biz.ratingSignals}} Users</h2>
                    </div>
                </div>

                <h5>&nbsp</h5>
                <div class="col-xs-12 col-sm-8" ng-repeat="address in model.biz.location.formattedAddress">
                    <h6 id="address-1">{{address}}</h6>
                </div>

            </div>
        </div>

        <div class="container col-xs-12 col-sm-4">
            <h2 class="page-header" ng-show="model.bizs.length > 0" id="yml">You might also like</h2>
            <div class="extend">
                <div  ng-repeat="biz in model.bizs">
                    <div class="media">
                        <div class="media-body">
                            <a ng-click="model.findBizById(biz.id)">
                            <h4 class="media-heading" id="fbi">{{biz.name| limitTo:25}}...</h4></a>
                                <p>{{biz.location.formattedAddress[0]}},
                                    {{biz.location.formattedAddress[1]}}
                                    {{biz.location.formattedAddress[2]}}</p>
                        </div>
                    </div>
                </div>
             </div>
        </div>
    </div>
    <div class="row">
        <div class=" col-xs-12 col-sm-6">
            <div ng-show="model.user._id">
                <h3>Write a Review</h3>
                <form>

                    <div class="form-group">
                        <textarea ng-model="model.review.description"
                                              rows="3"
                                              placeholder="Describe your experience"
                                              class="form-control"></textarea>
                    </div>
                    <div class="form-group pull-right">
                        <a ng-click="model.addReview(model.review)" class="btn btn-success">
                            Submit
                        </a>
                    </div>
                </form>
            </div>
            <div class="well" ng-hide="model.user._id">
                <h3>Write a Review</h3>
                <form>
                    <div class="form-group">
                        <textarea ng-model="model.review.description"
                                  rows="3"
                                  placeholder="Describe your experience"
                                  class="form-control"
                                  disabled="disabled"></textarea>
                    </div>
                    <div class="form-group">
                        Please login to write a review
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-12 col-sm-6">
            <div ng-repeat="review in model.reviews">
                <div class="media">

                        <div class="media-left glyph">
                            <a ng-click="model.findUserById(review.userId)">
                                <span class="glyphicon glyphicon-user"></span></a>
                        </div>

                        <div class="media-body">

                            <h4 class="media-heading">
                                <a ng-click="model.findUserById(review.userId)">{{review.username}}</a>
                                <span ng-click="model.deleteReview(review._id)" class="glyphicon glyphicon-remove pull-right" ng-show="review.userId == model.user._id || model.user.role == 'admin'"></span>
                                <!--<span class="glyphicon glyphicon-edit pull-right" ng-show="review.userId == model.user._id || model.user.role == 'admin'"></span>-->
                            </h4>
                            <p>{{review.description}}</p>
                        </div>

                </div>
            </div>
        </div>
    </div>
            <!--<div ng-repeat="review in model.reviews">-->
                <!--<div>-->
                    <!--<a ng-click="model.findUserById(review.userId)"><span class="glyphicon glyphicon-user">{{review.username}}</span></a>-->
                    <!--<h4>{{review.title}}</h4>-->
                    <!--<h6>{{review.description}}</h6>-->
                <!--</div>-->
            <!--</div>-->
    <h1>&nbsp;</h1>
    <div>
        <h2>Location</h2>
        <div class="map">
            <ng-map center="[{{model.lat}},{{model.lng}}]">
                 <marker position="[{{model.lat}},{{model.lng}}]"> </marker>
            </ng-map>
        </div>
    </div>
</div>