<div class="container-fluid w3-animate-opacity example">
<div class="container-fluid col-md-12"id="list-view">
    <div class="row">
        <div class="col-md-4 form-group">
            <input ng-model="model.place" class="form-control input-xlg" placeholder="I am looking for...">
            <div ng-show="model.errorplace" class="alert alert-danger" role="alert">
                {{model.errorplace}}
            </div>
        </div>
        <div class="col-md-4 form-group">
            <input ng-model="model.location" class="form-control input-xlg" id="city" placeholder="Location">
            <div ng-show="model.errorlocation" class="alert alert-danger" role="alert">
                {{model.errorlocation}}
            </div>
        </div>
        <div class="col-md-4 form-group">
            <a ng-click="model.search()" class="btn btn-primary btn-block btn-xlg">Search</a>
        </div>
    </div>
</div>
<div ng-show="model.bizs == null || model.bizs.length == 0" class="alert alert-info" role="alert">
    "No results found!!! Please try searching with different inputs"
</div>
<div class="container-fluid">
        <h4>&nbsp</h4>
        <div class="row">
            <div class="col-xs-12 col-sm-6">
                <h2 ng-hide="model.info" class="yml-feed-bl">Places near you</h2>
                <div class="media" ng-repeat="biz in model.bizs">
                    <div class="media-body well">
                        <div class="row">
                            <div class="col-xs-12 col-sm-8">
                                <h4 class="media-heading">
                                    <a ng-click="model.findBizById(biz.id)">
                                        <h4 class="smallheader red">
                                            {{biz.name}} </h4>
                                    </a>
                                </h4>
                                <p id="categoryname" class="bold">{{biz.categories[0].name}}</p>
                            </div>

                            <div class="hidden-xs col-sm-4">
                                <p class="addressadjust">{{biz.location.formattedAddress[0]}}</p>
                                <p class="addressadjust">{{biz.location.formattedAddress[1]}}</p>
                                <p class="addressadjust">{{biz.location.formattedAddress[2]}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="hidden-xs col-sm-6">
                <h2 ng-show="model.trendingbizs.length > 0" class="yml-feed-bl">Popular Places</h2>
                <div class="extendmore">
                    <div class="media" ng-repeat="biz in model.trendingbizs">
                        <div class="media-body well">
                            <div class="row">
                                <div class="col-xs-12 col-sm-8">
                                    <h4 class="media-heading">
                                        <a ng-click="model.findBizById(biz.venue.id)">
                                            <h4 class="smallheader below-flex">
                                                {{biz.venue.name}} </h4>

                                        </a>
                                    </h4>
                                    <p id="categoryname" class="bold">{{biz.venue.categories[0].name}}</p>
                                </div>

                                <div class="hidden-xs col-sm-4">
                                    <p class="addressadjust">{{biz.venue.location.formattedAddress[0]}}</p>
                                    <p class="addressadjust">{{biz.venue.location.formattedAddress[1]}}</p>
                                    <p class="addressadjust">{{biz.venue.location.formattedAddress[2]}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
</div>