<header class="w3-display-container w3-content w3-wide w3-animate-opacity" style="max-width:1500px;" id="home">
    <!--<img class="w3-image" src="../../images/restaurant2.jpg" alt="Restaurant" width="1500" height="800">-->
    <!--<div class="w3-display-middle w3-margin-top w3-center">-->
    <!--<h2 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Near</b></span> <span class="w3-text-light-grey">By</span></h2>-->
    <!--<h2>&nbsp</h2>-->
        <!---->
    <!--</div>-->
    <div class="container w3-animate-opacity">
        <div class="intro-lead-in">Discover your favourite places!!!</div>
        <div class="intro-text">
            <h2 class="w3-xxlarge w3-text-white"><span class="w3-padding w3-black w3-opacity-min"><b>Near</b></span> <span class="w3-text-grey">By</span></h2>
        </div>
        <div class="container" id="searchbar">
            <div class="searchGroup col-md-12">
                <div class="row">
                    <div class="col-md-4 form-group">
                        <input ng-model="model.place" class="form-control input-xlg homeinput" placeholder="I am looking for...">
                        <div ng-show="model.errorplace" class="alert alert-danger" role="alert">
                            {{model.errorplace}}
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <input ng-model="model.location" class="form-control input-xlg homeinput" id="city" placeholder="Location">
                        <div ng-show="model.errorlocation" class="alert alert-danger" role="alert">
                            {{model.errorlocation}}
                        </div>
                    </div>
                    <div class="col-md-4 form-group">
                        <a ng-click="model.search()" class="btn btn-primary btn-block btn-xlg">Search</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>
<div class="container-fluid w3-animate-opacity">
    <div ng-show="model.geoLocate" class="container-fluid">
            <h4>&nbsp</h4>
                <div class="row">
                    <div class="col-xs-12 col-sm-6">
                        <h2>Places near you</h2>
                        <div class="media" ng-repeat="biz in model.bizs">
                                <div class="media-body well" ng-class-odd="'oddtile'" ng-class-even="'eventile'">
                                    <div class="row">
                                        <div class="col-xs-12 col-sm-8">
                                            <h4 class="media-heading">
                                                <a ng-click="model.findBizById(biz.id)">
                                            <h4 class="smallheader">
                                                {{biz.name}} </h4>

                                                </a>
                                            </h4>
                                                <p id="categoryname">{{biz.categories[0].name}}</p>
                                        </div>

                                        <div class="hidden-xs col-sm-4">
                                            <p>{{biz.location.formattedAddress[0]}}</p>
                                            <p>{{biz.location.formattedAddress[1]}}</p>
                                            <p>{{biz.location.formattedAddress[2]}}</p>
                                        </div>
                                    </div>
                                </div>
                        </div>
                    </div>

                    <div class="hidden-xs col-sm-6">
                        <h2>Popular Places</h2>
                        <div class="extendmore">
                        <div class="media" ng-repeat="biz in model.trendingbizs">
                            <div class="media-body well">
                                <div class="row">
                                    <div class="col-xs-12 col-sm-8">
                                        <h4 class="media-heading">
                                            <a ng-click="model.findBizById(biz.venue.id)">
                                        <h4 class="smallheader">
                                        {{biz.venue.name}} </h4>

                                            </a>
                                        </h4>
                                            <p id="categ">{{biz.venue.categories[0].name}}</p>
                                    </div>

                                    <div class="hidden-xs col-sm-4">
                                        <p>{{biz.venue.location.formattedAddress[0]}}</p>
                                        <p>{{biz.venue.location.formattedAddress[1]}}</p>
                                        <p>{{biz.venue.location.formattedAddress[2]}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
    </div>

    <h2>&nbsp</h2>
    <!--<div class="w3-grayscale" style="width:100%;height:450px;">-->
        <!--<ng-map center="[{{model.lat}},{{model.lng}}]">-->
            <!--<marker position="[{{model.lat}},{{model.lng}}]"> </marker>-->
        <!--</ng-map>-->
    <!--</div>-->

</div>
